:root {
  --brand-blue: #0F74D1;
  --brand-light-blue: #D2E3EA;
  --brand-grey: #B4B4B4;
  --brand-light-grey: #F9F9F9;
  --white: #FFFFFF;
  --line-grey: #6464641a;
  --brand-font: 'Roboto', sans-serif; 
}

body {
  margin: 0;
  font-family: var(--brand-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */

.navbar {
  position: fixed;
  height: 60px;
  background-color: var(--brand-light-grey);
  width: 100%;
  bottom: 0;
}

.navbar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-grid a {
  text-decoration: none;
}

.navbar-item {
  padding: 12px;
  color: var(--brand-grey);
  text-align: center;
}

.navbar-item:hover, .navbar-item.active {
  cursor: pointer;
  color: var(--brand-blue);
}

.navbar-icon {
  font-size: 20px;
}

.navbar-icon-label {
  font-size: 13px;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.button:hover {
  cursor: pointer;
}

.button.dark {
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--brand-blue);
  color: var(--white);
}

.button.light {
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--brand-light-blue);
  color: var(--brand-blue);
}

.button.clear {
  color: var(--brand-blue);
  font-weight: 400;
}

/* Line */

.line {
  border: 0.5px solid var(--line-grey);
  width: 85%;
}