:root {
  --brand-blue: #0F74D1;
  --brand-light-blue: #D2E3EA;
  --brand-grey: #B4B4B4;
  --brand-light-grey: #F9F9F9;
  --white: #FFFFFF;
  --line-grey: #6464641a;
  --brand-font: 'Roboto', sans-serif; 
}

body {
  margin: 0;
  font-family: var(--brand-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

::-webkit-scrollbar {
  display: none;
}

/* Navbar */

.navbar {
  position: fixed;
  height: 60px;
  background-color: var(--brand-light-grey);
  width: 100%;
  bottom: 0;
}

.navbar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-grid a {
  text-decoration: none;
}

.navbar-item {
  padding: 12px;
  color: var(--brand-grey);
  text-align: center;
}

.navbar-item:hover, .navbar-item.active {
  cursor: pointer;
  color: var(--brand-blue);
}

.navbar-icon {
  font-size: 20px;
}

.navbar-icon-label {
  font-size: 13px;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.button.dark {
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--brand-blue);
  color: var(--white);
}

.button.light {
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--brand-light-blue);
  color: var(--brand-blue);
}

.button.clear {
  color: var(--brand-blue);
  font-weight: 400;
}

/* Line */

.line {
  border: 0.5px solid var(--line-grey);
}

/* Body component */

.body-container {
  padding: 22px 27px 27px 27px;
  margin-bottom: 30px;
}

/* Home Component */

.home-top-bar {
  padding-bottom:5px;
}

.home-title {
  padding: 0;
  margin: 0;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 7px;
}

.home-subtitle {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: var(--brand-grey);
}

/* People Component */

.page-top-bar {
  display: grid;
  grid-template-columns: 76% 23%;
}

.page-title {
  padding: 0;
  margin: 0;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 7px;
  float: left;
}

.page-button {
  display: inline-block;
  margin-top: 7px;
  text-align: right;
}

/* Petcard */

.card {
  margin-bottom: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
}

.card-image {
  height: 75px;
  width: 75px;
  overflow: hidden;
  border-radius: 15px;
}

.card-image img {
  height: 75px;
}

.card-info{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.card-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-detail {
  font-size: 12px;
  color: var(--brand-grey);
}

.card-button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-end;
}

/* Home Pets List */

.home-section {
  margin-bottom: 15px;
  margin-top: 12px;
}

.home-section-title-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-section-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 15px;
}

.home-section-button {
  text-align: right;
}

.list-container {
  margin-top: 20px;
}

/* Form component */
.form-container {
  width: 95%;
}


.field {
  padding: 10px 0px;
}

.field input {
  width: 100%;
  display: inline-block;
  padding: 35px 10px 10px 10px;
  border: 0;
  background-color: rgba(73, 73, 73, 0.1);
  border-radius: 5px;
  font-size: 17px;
}

.field label {
  padding: 10px;
  position: absolute;
  color: var(--brand-blue);
  font-size: 14px;
}

.select-field {
  padding: 10px 0px;
}


.select-field select {
  width: 106%;
  padding: 10px 20px 10px 10px;
  border: 0;
  background-color: rgba(73, 73, 73, 0.1);
  border-radius: 5px;
  font-size: 17px;
}

.btn-submit {
  width: 106%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: var(--brand-blue);
  color: var(--white);
  font-size: 15px;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 30px;
}

.btn-submit:hover {
  cursor: pointer;
}


.error-msg {
  display: block;
  margin: 10px 0px 0px 0px;
  color: rgb(167, 0, 0);
  font-size: 12px;
}

.no-spaces {
  padding: 0;
}

.owner-details-box {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px 0px;
}

.owner-image img {
  height: 110px;
  border-radius: 15px;
}

.owner-info {
  padding-left: 20px;
}

.owner-info span {
  display: block;
}

.owner-info-name {
  font-size: 20px;
  font-weight: 700;
}

.owner-info-email {
  font-size: 15px;
  color: var(--brand-grey);
  margin: 3px 0px 5px 0px;
}

.owner-info-bio {
  font-size: 15px;
}

.section-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}

.pet-list-box {
  margin: 20px 0px;
}

.pet-details-box {
  margin: 30px 0px;
}

.pet-image-box img{
  height: 150px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.pet-info {
  margin: 30px 0px;
}
.info-bar {
  padding: 10px 15px;
  border-radius: 12px;
  background-color: var(--brand-light-grey);
  margin: 10px 0px;
}

.info-bar-label {
  display: block;
  text-align: left;
  float: left;
  color: var(--brand-grey)
}

.info-bar-data {
  display: block;
  text-align: right;
}